<%-include("navbar.ejs")%>
<form action="/admin/update_project" method="post" enctype="multipart/form-data">
    <div class="container bg-dark text-white p-4">
        <h1>Update Project </h1>
        <div class="row">
            <input type="hidden" name="project_id" value="<%=pro_info.project_id%>">
            <div class="col-md-4">
                Project Photo
                <input type="file" name="project_photo"  class="form-control">
                <img src="/<%=pro_info.project_photo%>" width="100px">
            </div>

            <div class="col-md-4">
                Prject Title
                <input type="text" name="project_title" class="form-control" value="<%=pro_info.project_title%>">
            </div>
           
            <div class="col-md-4">
                Project Github Link
                <input type="url" name="github_link"  class="form-control" value="<%=pro_info.github_link%>">
            </div>
            <div class="col-md-12 mt-3">
                Project Details
                <textarea name="project_details"  class="form-control"><%=pro_info.project_details%></textarea>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-primary mt-4 text-center">Update Project</button>
            </div>

            </div>
            </div>
            </form>
       



<%-include("footer.ejs")%>
