<%-include("navbar.ejs")%>
<form action="/admin/update_eduction" method="post">
    <div class="container bg-dark text-white p-4">
        <h1>Update Eduction </h1>
        <div class="row">
            <input type="hidden" name="eduction_id" value="<%=edu_info.eduction_id%>">
            <div class="col-md-3">
                Unviversity
                <input type="text" name="university" class="form-control" value="<%=edu_info.university%>">
            </div>

            <div class="col-md-3">
                Qualification
                <input type="text" name="qualification" class="form-control" value="<%=edu_info.qualification%>">
            </div>
            <div class="col-md-3">
                Passing Year
                <input type="number" name="passing_year" class="form-control" value="<%=edu_info.passing_year%>">
            </div>

            <div class="col-md-2">
                Percentage
                <input type="number" name="percentage" class="form-control" value="<%=edu_info.percentage%>">
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary btn-sm mt-4">Update</button>
            </div>

        </div>
    </div>
</form>
<%-include("footer.ejs")%>
